# Database Configuration
POSTGRES_USER=my_secure_user
POSTGRES_PASSWORD=my_secure_password
POSTGRES_DB=inventory_db

# Application Configuration
NODE_ENV=production
REDPANDA_BROKERS=redpanda:9092
DATABASE_URL=postgresql://my_secure_user:my_secure_password@localhost:<portname>/<db_name>
